* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar .navbar-collapse ul li {
    margin: 0 20px;
}

.navbar .navbar-collapse ul li a {
    /* padding: 0; */
    padding-bottom: 5px;
    color: #000000;
}

.navbar .navbar-collapse ul li a.active {
    border-bottom: 1px solid;
}

.navbar .navbar-collapse ul li a:hover {
    border-bottom: 1px solid;
}
