* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.player-header {
    position: relative;
    color: #fff;
    height: 26.5rem;
}

.player-header.inactive .player-header__background {
    background: url(../images/backgrounds/primary-graphic-big.svg),url(../images/backgrounds/primary-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.player-header__background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.player-header.inactive .player-header__background-svg {
    display: none;
}
.player-header__background-svg {
    height: 100%;
    width: 100%;
}

.player-header__background-svg svg {
    min-height: 100%;
    min-width: 100%;
}

.player-header .playerContainer {
    position: relative;
    height: 100%;
}

.wrapper {
    max-width: 1376px;
    margin: 0 auto;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.player-header.inactive .imgContainer {
    height: 22rem;
    bottom: 0.8rem;
}

.player-header .imgContainer {
    position: relative;
    height: 23.9rem;
    width: 29rem;
    padding: 0;
    left: 3rem;
    bottom: -1.4rem;
    padding-left: 4rem;
    padding-top: 1rem;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.player-header.inactive .img {
    max-width: 22rem;
    margin: 0;
    border-radius: 50%;
}

.player-header .img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-right: 0;
    margin-left: auto;
}
img {
    opacity: 1;
    transition: opacity .35s ease-in-out,transform .2s;
    position: relative;
}
img {
    border-style: none;
}

.player-header .playerDetails {
    position: relative;
    padding: 3.2rem 0 0 4.2rem;
    display: inline-block;
}

.player-header__name {
    font-size: 4.8rem;
    line-height: 5.8rem;
}
